<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rental Agency</title>

    <style type="text/css">
        * {
            font-family: Verdana, Arial, sans-serif;
        }
        table{
            font-size: x-small;
        }
        tfoot tr td{
            font-weight: bold;
            font-size: x-small;
        }
        .gray {
            background-color: #DDDDDD;
            padding: 5px;
        }
    </style>

</head>
<body>

<table width="100%">
    <tr>
        <td valign="top"><h1 style="color: #5eb5e0; font-weight: bold;">Rental Agency</h1></td>
        <td align="right">
            <h3>Location de véhicules verts</h3>
            <pre>
                Rental Agency Location
                15 rue de l'ipi
                Tva intra: 4567788654332211
                Téléphone: 0567889764
            </pre>
        </td>
    </tr>

</table>

<table width="100%">
    <tr>
        <td><strong>De:</strong> test</td>
        <td><strong>A:</strong> test</td>
    </tr>

</table>

<br/>

<table width="100%">
    <thead>
    <tr>
        <th class="gray">#</th>
        <th class="gray">Description</th>
        <th class="gray">Quantité</th>
        <th class="gray">Prix</th>
        <th class="gray">Total</th>
    </tr>
    </thead>
    <tbody>
    <tr style="border: solid 1px #e0e0e0;">
        <th scope="row">1</th>
        <td>test</td>
        <td align="right">1</td>
        <td align="right">1400.00</td>
        <td align="right">1400.00</td>
    </tr>
    <tr style="border: solid 1px #e0e0e0;">
        <th scope="row">1</th>
        <td>test</td>
        <td align="right">1</td>
        <td align="right">1400.00</td>
        <td align="right">1400.00</td>
    </tr>
    <tr style="border: solid 1px #e0e0e0;">
        <th scope="row">1</th>
        <td>test</td>
        <td align="right">1</td>
        <td align="right">1400.00</td>
        <td align="right">1400.00</td>
    </tr>
    <tr style="border: solid 1px #e0e0e0;">
        <th scope="row">1</th>
        <td>test</td>
        <td align="right">1</td>
        <td align="right">1400.00</td>
        <td align="right">1400.00</td>
    </tr>
    <tr style="border: solid 1px #e0e0e0;">
        <th scope="row">1</th>
        <td>test</td>
        <td align="right">1</td>
        <td align="right">1400.00</td>
        <td align="right">1400.00</td>
    </tr>
    <tr style="border: solid 1px #e0e0e0;">
        <th scope="row">1</th>
        <td>test</td>
        <td align="right">1</td>
        <td align="right">105.00</td>
        <td align="right">105.00</td>
    </tr>
    <tr style="border: solid 1px #e0e0e0;">
        <th scope="row">1</th>
        <td>test</td>
        <td align="right">1</td>
        <td align="right">130.00</td>
        <td align="right">130.00</td>
    </tr>
    </tbody>

    <tfoot>
    <tr>
        <td colspan="3"></td>
        <td align="right" class="gray">SousTotal</td>
        <td align="right" class="gray">1635.00 €</td>
    </tr>
    <tr>
        <td colspan="3"></td>
        <td align="right" class="gray">Tva</td>
        <td align="right" class="gray">294.30 €</td>
    </tr>
    <tr>
        <td colspan="3"></td>
        <td align="right" class="gray">Total</td>
        <td align="right" class="gray">1929.30 €</td>
    </tr>
    </tfoot>
</table>

</body>
</html>

