{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
    <h1 style="text-align: center; color: #5eb5e0;">Api Rental Agency</h1>
{% endblock %}
